/* CSS COMPATIBILITY SETUP */

$css4: true;
$compatibility: true;


/* GENERAL STYLES */

$PALE_GREEN_COLOR: rgba(#557700, .5);

// PURPLE THEME
$DARK_PURPLE_COLOR: #443a57;
$DEEP_DARK_PURPLE_COLOR: #282234;

// DARK THEME
$GRAY_COLOR: #a9a9a9;
$BLACK_COLOR: black;

// it is nessesary to define the variables in sass map instead of :root,
// for compatibility reasons.
$purple_variables: (
  --header-bg: $DEEP_DARK_PURPLE_COLOR,
  --background: $DARK_PURPLE_COLOR,
);

$gray_variables: (
--header-bg: $BLACK_COLOR,
--background: $GRAY_COLOR,
);

//Here we transfer the variables from the map to the :root and :root.gray element
@if($css4) {
  :root, :root.purple {
    @each $variable, $value in $purple_variables {
      #{$variable}: $value;
    }
  }
  :root.gray {
    @each $variable, $value in $gray_variables {
      #{$variable}: $value;
    }
  }
}


//this is the "magic" function
@function var($variable) {
  @if($css4) {
    @return unquote('var(' + $variable + ')');
  } @else {
    @return map-get($purple_variables, $variable);
  }
}

@mixin css4 {
  @if ($css4) {
    $css4-backup: $css4;
    @if($compatibility) {
      $css4: false !global;
      @content;
    }
    $css4: true !global;
    @content;
    $css4: $css4-backup;
  }
  @else {
    @content;
  }
}


$SMALL_BOARD_SIZE: 300px;
$MEDIUM_BOARD_SIZE: 400px;
$BIG_BOARD_SIZE: 500px;


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  color: white;
  font-family: Arial;
  margin:0px;
  padding:0px;
}

/* PAGE STYLES */

header, footer {
  background-color: var(--header-bg);
  right: 0;
  left: 0;
  position: fixed;
}

header {
  top: 0;
  padding: 0px 20px 0px 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

header h1 {
  display:inline-block;
  float: left;
  font-size: 20px;
}

input, select {
  border-radius: 10px;
  height: 30px;
  border: 2px solid var(--background);
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
  color: var(--background);
  box-shadow: 2px 2px 10px 1px var(--header-bg);
}

header select {
  float: right;
}

.content-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  @media screen and (max-width: 640px){ width: $SMALL_BOARD_SIZE; }
  @media screen and (min-width: 641px){ width: $MEDIUM_BOARD_SIZE; }
  @media screen and (min-width: 1024px){ width: $BIG_BOARD_SIZE; }
  margin: 20px;
  padding: 5px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  bottom: 0;
}

/* BOARD STYLES */

$DARK_FIELD_COLOR: #a89070;
$LIGHT_FIELD_COLOR: #e8d8c3;
$BOARD_TEXT_COLOR: #2a241c;
$BOARD_TEXT_SHADOW_COLOR: #e4d2ba;
$BOARD_BACKGROUND_COLOR: #695a46;
$BOARD_BORDER_COLOR: #3f362a;
$SMALL_BOARD_FONT_SIZE: 1.1rem;
$MEDIUM_BOARD_FONT_SIZE: 1.2rem;
$BIG_BOARD_FONT_SIZE: 1.3rem;

.board-wrapper {

  @media screen and (max-width: 640px){
    width: $SMALL_BOARD_SIZE;
    height: $SMALL_BOARD_SIZE;
    font-size: $SMALL_BOARD_FONT_SIZE;
  }

  @media screen and (min-width: 641px){
    width: $MEDIUM_BOARD_SIZE;
    height: $MEDIUM_BOARD_SIZE;
    font-size: $MEDIUM_BOARD_FONT_SIZE;
  }

  @media screen and (min-width: 1024px){
    width: $BIG_BOARD_SIZE;
    height: $BIG_BOARD_SIZE;
    font-size: $BIG_BOARD_FONT_SIZE;
  }

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  font-family: Arial;
  color: $BOARD_TEXT_COLOR;
  text-shadow: 0px 0px 1px $BOARD_TEXT_SHADOW_COLOR;
  background-color: $BOARD_BACKGROUND_COLOR;
  border: .5px solid $BOARD_BORDER_COLOR;
  box-shadow: 2px 2px 10px 1px var(--header-bg);
  user-select: none;
}

.board-wrapper:focus {
  outline: 0px solid transparent;
}

.board {
  display: inline-block;
  width: 90%;
  height: 90%;
}

.rank, .rank-index{
  height: 12.5%;
  display: flex;
}

.rank-index, .column-index {
  font-weight: bold;
}

.rank-index-container {
  float: left;
  height: 90%;
  width: 10%;
}

.rank-index {
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.column-index-container {
  display: flex;
  margin-left: 10%;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.column-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-index, .black-field, .white-field {
  width: 12.5%;
}

.black-field {
  background-color: $DARK_FIELD_COLOR;
}

.white-field {
  background-color: $LIGHT_FIELD_COLOR;
}

.selected-piece-wrapper, .piece-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  background-color: none;
}

.selected-piece-wrapper {
  background-color: $PALE_GREEN_COLOR;
}

.piece {
  height: 100%;
  margin: auto;
}
