/* CSS COMPATIBILITY SETUP */

// set to false in order to generate CSS3
$css4: true;

/* GENERAL STYLES */
$SMALL_BOARD_SIZE: 350px;
$MEDIUM_BOARD_SIZE: 450px;
$BIG_BOARD_SIZE: 550px;

// THEME STYLES

// it is nessesary to define the variables in sass map instead of :root,
// for compatibility reasons.
$purple_variables: (
  --header-bg: #282234,
  --background: #2c2738,
);

$gray_variables: (
--header-bg: #202020,
--background: #282828,
);

$green_variables: (
  --header-bg: #222723,
  --background: #32382e,
);

//Here we transfer the variables from the map to the :root element
@if($css4) {
  :root.purple {
    @each $variable, $value in $purple_variables {
      #{$variable}: $value;
    }
  }
  :root.green {
    @each $variable, $value in $green_variables {
      #{$variable}: $value;
    }
  }
  :root, :root.gray {
    @each $variable, $value in $gray_variables {
      #{$variable}: $value;
    }
  }
}

// fallback for css variables
@function var($variable) {
  @if($css4) {
    @return unquote('var(' + $variable + ')');
  } @else {
    @return map-get($purple_variables, $variable);
  }
}

@mixin media($property, $small_value, $medium_value, $big_value){
  @media screen and (max-width: 640px){ #{$property}: $small_value; }
  @media screen and (min-width: 641px){ #{$property}: $medium_value; }
  @media screen and (min-width: 1024px){ #{$property}: $big_value; }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  color: white;
  font-family: 'Bradley Hand';
  margin:0px;
  padding:0px;
}

/* PAGE STYLES */

header, footer {
  background-color: var(--header-bg);
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
}

header {
  top: 0;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  
  .config-button {
    font-size: 20px;
    padding-left: 15px;
    cursor: pointer;

  }
}

header h1 {
  display:inline-block;
  float: left;
  font-size: 20px;
}


.select-container {
  margin-left: auto;
}

label {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  flex-flow: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

input, select {
  border-radius: 5px;
  height: 30px;
  border: 2px solid var(--background);
  font-size: 15px;
  font-weight: bold;
  color: var(--background);
  box-shadow: 2px 2px 10px -3px var(--header-bg);
}

input[type=checkbox] {
  width: auto;
  height: auto;
}

.content-container {
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  bottom: 0;
}

/* BOARD STYLES */

// $DARK_FIELD_COLOR: #a89070;
$DARK_FIELD_COLOR: #90816e;
// $LIGHT_FIELD_COLOR: #e8d8c3;
$LIGHT_FIELD_COLOR: #ffe8cb;
// $BOARD_TEXT_COLOR: #2a241c;
$BOARD_TEXT_COLOR: #4c463e;
// $BOARD_TEXT_SHADOW_COLOR: #e4d2ba;
$BOARD_TEXT_SHADOW_COLOR: #b5a794;
// $BOARD_BACKGROUND_COLOR: #695a46;
$BOARD_BACKGROUND_COLOR: #8c7659;
// $BOARD_BORDER_COLOR: #3f362a;
$BOARD_BORDER_COLOR: #8c7659;
$SMALL_BOARD_FONT_SIZE: 1.2rem;
$MEDIUM_BOARD_FONT_SIZE: 1.5rem;
$BIG_BOARD_FONT_SIZE: 1.7rem;
$PALE_GREEN_COLOR: rgba(#85a339, .5);
$DARK_GREEN_COLOR: rgba(#323d15, .5);
$BRIGHT_GREEN_COLOR: rgba(#a4c74a, .5);
$PALE_RED_COLOR: rgba(#501109, .7);
$DARK_RED_COLOR: rgba(#200703, .7);
$BRIGHT_RED_COLOR: rgba(#973e30, .7);

.board-wrapper, .sub-board-wrapper {
  @include media(width, $SMALL_BOARD_SIZE, $MEDIUM_BOARD_SIZE, $BIG_BOARD_SIZE);
  @include media(height, $SMALL_BOARD_SIZE, $MEDIUM_BOARD_SIZE, $BIG_BOARD_SIZE);
  @include media(font-size, $SMALL_BOARD_FONT_SIZE, $MEDIUM_BOARD_FONT_SIZE, $BIG_BOARD_FONT_SIZE);

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  font-family: 'Bradley Hand';
  color: $BOARD_TEXT_COLOR;
  text-shadow: 0px 0px 1px $BOARD_TEXT_SHADOW_COLOR;
  background-color: $BOARD_BACKGROUND_COLOR;
  box-shadow: 2px 2px 10px 1px var(--header-bg);
  user-select: none;
  border-radius: 10px;
}

.board-wrapper:focus {
  outline: 0px solid transparent;
}

.sub-board-wrapper {
  @include media(height, $SMALL_BOARD_SIZE*0.8, $MEDIUM_BOARD_SIZE*0.8, $BIG_BOARD_SIZE*0.8);

  box-shadow: none;
}

.board {
  display: inline-block;
  width: 80%;
  height: 100%;
  // border: 1px solid #7d6733;
}

.config-panel-header {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  .close-btn {
    cursor: pointer;
    margin-left: auto;
  }
}

.config-panel {
  @include media(width, $SMALL_BOARD_SIZE, $MEDIUM_BOARD_SIZE, $BIG_BOARD_SIZE);
  @include media(height, $SMALL_BOARD_SIZE, $MEDIUM_BOARD_SIZE, $BIG_BOARD_SIZE);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 10px 1px var(--header-bg);
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
}

.config-panel-body {
  padding: 5px 20px ;
}

.rank, .rank-index{
  height: 12.5%;
  display: flex;
}

.rank-index, .column-index {
  font-weight: bold;
}

.rank-index-container {
  float: left;
  height: 100%;
  width: 10%;
}

.rank-index {
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.column-index-container, .board-bottom-status {
  display: flex;
  margin-left: 10%;
  justify-content: center;
  width: 80%;
  height: 10%;
}

.board-bottom-status {
  align-items: center;
  font-size: 20px;
}

.column-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-index, .black-field, .white-field, .allowed-field {
  width: 12.5%;
}

.black-field {
  background-color: $DARK_FIELD_COLOR;
  position: relative;
}

.white-field {
  background-color: $LIGHT_FIELD_COLOR;
  position: relative;
}

.selected-piece-wrapper, .piece-wrapper, .heatmap-field {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  background-color: none;
  position: absolute;
}

.heatmap-field {
  background-color: #800080d1;
  z-index: 1;
}


.allowed-field, .hit-field {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.25s;
}

.selected-piece-wrapper, .allowed-field {
  background-color: $PALE_GREEN_COLOR;
}

.allowed-field {
  &:hover {
    background-color: $BRIGHT_GREEN_COLOR;
  }
}

.hit-field {
  background-color: $PALE_RED_COLOR;
}

.hit-field ~ .piece-wrapper  {
  cursor: pointer;
  transition: background-color 0.25s;
  &:hover {
    background-color: $BRIGHT_RED_COLOR;
  }
}

.piece {
  height: 100%;
  margin: auto;
}

.font-awesome-icon {
  @include media(font-size, 30px, 37px, 45px);
}